.innerContainer {
    padding: 150px;
    height: auto;
}

.highlightsTileContainer {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.highlightsTile {
    width: 240px;
    height: 180px;
    display: flex;
    margin: 10px;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    position: relative;
}

.highlightsTile:hover {
    border: '1px solid #26328C80';
    cursor: pointer;
}

.highlightsTileTitle {
    font-size: 24px;
    font-weight: 700px;
    color: #ffffff;
    z-index: 999;
}

.highlightImages {
    width: 240px;
    height: 180px;
    position: absolute;
}

.tileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    display: flex;
    position: absolute;
    background-color: #26328C80;
    z-index: 998;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.divider {
    border-top: 1px solid #C0378C;
    width: 100%;
    margin-top: 50px;
}

.productsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.productsContainerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productsHeaderTitle {
    color: #26328C;
    font-size: 36px;
    margin: 0px;
}

.allProductButton {
    display: flex;
    border-bottom: 3px solid #C0378C;
}

.allProductButtonText {
    color: #26328C;
    font-size: 18px;
    margin: 0px;
}

.productsInnerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.productTile {
    display: flex;
    flex-direction: column;
    margin: 15px;

    width: 1040px;
}

.productImage {
    height: 320px;
    width: 189px;
    position: relative;
    margin-bottom: 10px;
}

.productTitle {
    font-size: 20px;
    color: #26328C;
    text-align: left;
    font-weight: 600px;
    margin: 0px;
}

.productDescr {
    font-size: 16px;
    color: #C0378C;
    font-weight: 500px;
    text-align: left;
    margin: 0px;
}

.productPrize {
    font-size: 22px;
    color: #26328C;
    font-weight: 600px;
    text-align: left;
    margin: 0px;
}

.productTag {
    display: flex;
    width: 88px;
    height: 36px;
    background-color: #26328C;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.productTagText {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700px;
    text-transform: uppercase;
}

.offerTile {
    display: flex;
    flex-direction: row;
    height: 320px;
    width: 1040px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    /* padding: 50px; */
}

.offerImage {
    height: 320px;
    width: 100%;
    position: relative;
}

.offerTileImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.offerContentConatiner {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
}

/* .offerContent {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 50px;
    text-align: left;
} */

.offerLogo {
    width: 119px;
    height: 209px;
}

.offerTitle {
    font-size: 48px;
    color: #FF64C4;
    font-weight: 700px;
    margin: 5px;
}

.descrText {
    font-size: 24px;
    font-weight: 600px;
    color: #ffffff;
    margin: 5px;
}

.offerDiscountText {
    font-size: 96px;
    color: #FF64C4;
    font-weight: 700px;
    margin: 5px;
}

.offerSecondContainer {
    display: flex;
    flex-direction: row;
    width: 1040px;
}